.App {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}
/* 
.bkg-dark {
  background-color: #3f3f3f !important;
  color: white !important;
}

.bkg-light {
  background-color: #bbbbbb !important;
  color: black !important;
}

.root {
  background-color: black !important;
}

.btn {
  width: 100px;
  float: right;
}  */