.column {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: #7c9ed9;
  /*#17244f;*/
  color: #212630;
}

/* @media (prefers-color-scheme: dark) {
.column {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: green;
  color: d6d7d7;
}
} */

.bkg-dark {
  background-color: #17244f !important;
  color: #d6d7d7 !important;
}

.bkg-light {
  background-color: #7c9ed9 !important;
  color: #212630 !important;
}

.root {
background-color: black !important;
}

.TableTitle {
  font-size: 24px;
}

.btn {
  background-color: green !important;
  border-style: solid !important;
  color: white !important;
  padding: 5px !important;
  text-align: center !important;
  width: 120px;
  display: inline-block !important;
  font-size: 10px !important;
}

.btn2 {
  background-color: black !important;
  border-style: solid !important;
  color: white !important;
  padding: 5px !important;
  text-align: center !important;
  width: 120px;
  display: inline-block !important;
  font-size: 10px !important;
}

.profile {
  width: 200px;
  height: 200px;
}