.column {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #bbbbbb;
  /*background-image: linear-gradient(79deg, #e6edf7, #bed2ed 50%, #ebf6ff);*/
}

@media (prefers-color-scheme: dark) {
.column {
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-color: #3f3f3f;
  color: white;
}
}

.bkg-dark {
background-color: #3f3f3f !important;
color: white !important;
}

.bkg-light {
background-color: #bbbbbb !important;
color: black !important;
}

.root {
background-color: black !important;
}

.btn {
width: 100px;
float: right;
} 
